[submodule "week1_lab1_softwarearchitecture"]
	path = week1_lab1_softwarearchitecture
	url = https://github.com/nguyenhieu1435/week1_lab1_softwarearchitecture.git
[submodule "week3_lab2_softwarearchitecture"]
	path = week3_lab2_softwarearchitecture
	url = https://github.com/nguyenhieu1435/week3_lab2_softwarearchitecture.git
